.vscode
.env
.log
.swp
*.o
*.exe

#CPP Module 00
megaphone
phonebook
account

#CPP Module 01
zombie
zombieHorde
ptr_ref
weapon
loser
harl
harl_filter

#CPP Module 02
Fixed
BSP

#CPP Module 03
ClapTrap
ScavTrap
FragTrap
DiamondTrap

#CPP Module 04
Animal
BrainDead
AAnimal
Materia

#CPP Module 05 
Bureaucrat
Form
AForm
Intern
*_shrubbery

#CPP Module 06
convert
Serializer
Base

#CPP Module 07
whatever
iter
Array

#CPP Module 08
MutantStack
EasyFind
Span

#CPP Module 09
btc
RPN
PmergeMe